mixin user_item(user)
	div.media
		if user.avatar
			img.d-flex.align-self-start.mr-3.shadow-item(src=user.avatar.src, height='64px')
		div.media-body
			a.h5.font-weight-normal(href=user.url)= user.name
			div.small.text-muted
				span.d-block= user.country_and_region
				span.d-block #[strong= user.reputation] #[span.ubadge-coin.ubadge-coin-gold] #[span.text-muted= user.badge_gold] #[span.ubadge-coin.ubadge-coin-silver] #[span.text-muted= user.badge_silver] #[span.ubadge-coin.ubadge-coin-brozen] #[span.text-muted= user.badge_brozen]
				span.d-block= user.date_joined_formated