include ./mixin/nav
include ./mixin/alert

doctype html

html(lang='en')
	head
		title #{title} &bull; THLIVE

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
		link(rel='stylesheet', href='/css/lib/font-awesome.min.css')
		link(rel='stylesheet', href='/css/base.css')

	body
		+navbar(section, mortal)

		block main

		br

		div.jumbotron.jumbotron-fluid.text-muted.mb-0
			div.container
				p Designed and built with all the love in the world by #[a(href='users/Kailang') @Kailang].
					br
					|	Currently a1.0.0. Code licensed #[strong MIT], docs #[strong CC BY 3.0].

		script(src='/js/lib/jquery.min.js')
		script(src='/js/lib/tether.min.js')
		script(src='/js/lib/bootstrap.min.js')

