extends ./base

block main
	div.jumbotron.jumbotron-fluid
		div.container
			h1.display-4 Touhou! Live!
			p.lead The Holy Place for music lovers like you and me.

	div.pt-4.container
		h2.h1.text-center.font-weight-normal Build your own card.
		p.lead.text-center Choose from lots of carefully crafted cards edited and reviewed by the community. 

		div.py-4.row
			div.col-sm-6.mb-4
				h2.h4.font-weight-normal Upload images
				p Register an artist from Pixiv, DeviantArt, Weibo, or anywhere and upload his or her images to use their works in your cards. You may need their approvals to share their arts here, though.
				button.btn.btn-outline-success Upload images
			div.col-sm-6
				h3.h4.font-weight-normal Create cards
				p Create cards using images from the comprehensive portrait library bulit by the community.
				img.img-fluid.rounded(src='/img/index/card.png')
				button.btn.btn-outline-info.mt-3 Create card

		p #[strong Just want to play?] We are on Android, iOS, Windows, and Linux!
		button.btn.btn-outline-warning Download game

		hr.my-4

		h2.h1.text-center.font-weight-normal We love Touhou Project.
		p.lead.text-center Welcome to the club! Take your time.

		div.py-4.row
			div.col-sm-4.mb-4
				div.text-center.mb-4
					img.img-fluid(src='/img/index/char-1.png')
				h3.h4.font-weight-normal All Touhou characters registered
				p We compiled the data for all the Touhou characters ever existed for you.
			div.col-sm-4.mb-4
				div.text-center.mb-4
					img.img-fluid(src='/img/index/char-2.png')
				h3.h4.font-weight-normal Grils. Live. Gensokyo.
				p We are dedicated to bring you the most canon Touhou-style light stores.
			div.col-sm-4.mb-4
				div.text-center.mb-4
					img.img-fluid(src='/img/index/char-3.png')
				h3.h4.font-weight-normal We play Touhou
				p I don't even know what I am talking about now.

		p #[strong Want to add anything?] Come and edit the information, as everyone is welcomed!
		button.btn.btn-outline-danger View characters

	br

	div.jumbotron.jumbotron-fluid.mb-0(style='background-color: #242729; color: #848d95;')
		div.container
			div site design / logo &copy; 2017 Kailang Fu;
			div this is a derivative work of #[strong Touhou Project], any redistirbution or derivative of this project adhere to the #[a(href='http://en.touhouwiki.net/wiki/Touhou_Wiki:Copyrights') guidelines created by ZUN];
			div user contributions licensed under #[a(href='https://creativecommons.org/licenses/by-nc-sa/4.0/') cc by-nc-sa 4.0] which #[strong require attribution];
			div rev 2017.07.25
