include ./mixins

doctype html
html(lang='en')
  head
    title= title
    
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  
    link(rel='stylesheet', href='/css/hljs/monokai-sublime.css')
    link(rel='stylesheet', href='/css/style.css')

    block include_css
  body
    nav.navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar')
            span.glyphicon.glyphicon-menu-hamburger
          a.navbar-brand(href='/') THLIVE
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/users') Users
            li
              a(href='/artists') Artists
            li
              a(href='/images') Images
            li
              a(href='/characters') Characters
            li
              a(href='/cards') Cards

          if user
            div.navbar-right
              p.navbar-text Hi, #[a.navbar-link(href='/users/' + user._id) #{user.name}]

    div.container
      +error_section(false, true)
      block content
      +error_section(true, false)

    script(src='/js/lib/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    block include_js