extends ../base

include ../mixin/nav

block main
	br

	div.container
		+nav_user_detail(user, 'profile')

		br

		div.row.mb-4
			div.col-lg-3.mb-3
				div.card(style='box-shadow: inset 0 150px 0 #e7e8ea')
					div.card-block.text-center.pb-4
						img.img-thumbnail.border-0(src=user.avatar.src)

						span.h3.font-weight-normal.align-middle 953,574
						span.small.text-muted.align-middle.ml-1 REPUTATION
						
						div.row.mb-0.mt-3
							div.d-block.mx-auto
								span.ubadge.ubadge-gold.p-2.mr-1
									span.ubadge-coin.ubadge-coin-gold
									|	561
								span.ubadge.ubadge-silver.p-2.mr-1
									span.ubadge-coin.ubadge-coin-silver
									|	6994
								span.ubadge.ubadge-brozen.p-2.mr-1
									span.ubadge-coin.ubadge-coin-brozen
									|	7800

				div.hidden-md-down
					br
					h3.h6.mb-0 #[i.fa.fa-stack-exchange] Communities
					hr.my-2
					table.w-100.table-sm.text-muted.small
						tr
							td.text-center #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') Stack Overflow]
							td.text-right 954.2k
						tr
							td.text-center #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') Meta Stack Exchange]
							td.text-right 954.2k
						tr
							td.text-center #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') Super User]
							td.text-right 954.2k
						tr
							td.text-center #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') Server Fault]
							td.text-right 954.2k
						tr
							td.text-center #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') Software Engineering]
							td.text-right 954.2k
					a.d-block.text-right.mt-3.small(href='') View network profile →

					br

					h3.h6.mb-0 Top Meta Posts
					hr.my-2
					table.w-100.table-sm.text-muted.small
						tr
							td.text-center.align-top #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') #[span.text-muted 234] Stack Overflow question checklist]
						tr
							td.text-center.align-top #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') #[span.text-muted 234] Are we being "elitist"? Is there something wrong with that?]
						tr
							td.text-center.align-top #[i.fa.fa-stack-overflow.fa-lg]
							td #[a(href='') #[span.text-muted 234] What should I do about a user that I'm trying to help and is calling me stupid]
					a.d-block.text-right.mt-3.small(href='') View meta profile →

					br

					h3.h6.mb-0 Top Network Posts
					hr.my-2
					table.w-100.table-sm.text-muted.small
						tr
							td.text-center.align-top #[i.fa.fa-comment-o.fa-lg]
							td #[a(href='') #[span.text-muted 234] Allow an edit to notify downvoters: "I think I've fixed the issue now - please check"]
						tr
							td.text-center.align-top #[i.fa.fa-comment-o.fa-lg]
							td #[a(href='') #[span.text-muted 234] Should 'Hi', 'thanks', taglines, and salutations be removed from posts?]
						tr
							td.text-center.align-top #[i.fa.fa-comment-o.fa-lg]
							td #[a(href='') #[span.text-muted 234] Shell command to monitor changes in a file - What's it called again?]
					a.d-block.text-right.mt-3.small(href='') View network ports →

			div.col-lg-9.mb-3
				div.row
					div.col-md-8.mb-3
						h3.h2= user.name
							span.badge.badge-primary.ml-2.font-weight-normal.align-middle(style='font-size: 50%') top 0.01% overall
						p.h5.font-weight-normal.text-muted Senior Software Engineer at Google

						div.mt-3
							p Author of C# in Depth.
								br
								|	Currently a software engineer at Google, London.
								br
								|	Usually a Microsoft MVP (C#, 2003-2010, 2011-)
						a(href='') Click here to edit
					div.col-md-4
						div.d-flex.justify-content-between.line-1
							span.d-inline-block
								p.m-0.h6 33,776
								span.m-0.p-0.small.text-muted answers
							span.d-inline-block
								p.m-0.h6 48
								span.m-0.p-0.small.text-muted questions
							span.d-inline-block
								p.m-0.h6 ~200.7m
								span.m-0.p-0.small.text-muted.text-nowrap people reached

						table.table-sm.text-muted.mt-3.small
							tr
								td.text-center #[i.fa.fa-map-marker.fa-lg]
								td Reading, United Kingdom
							tr
								td.text-center #[i.fa.fa-github.fa-lg]
								td Kailang
							tr
								td.text-center #[i.fa.fa-link.fa-lg]
								td thlive.cc
							tr
								td.text-center #[i.fa.fa-history.fa-lg]
								td Member for 8 years, 8 months
							tr
								td.text-center #[i.fa.fa-eye.fa-lg]
								td 1,406,397 profile views
							tr
								td.text-center #[i.fa.fa-clock-o.fa-lg]
								td Last seen 2 hours ago

				br

				h3.h6 Top Tags
				div.row.px-2
					div.col.px-1
						div.d-flex.align-items-center.mt-3.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 17px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto
								div.d-flex.align-items-center
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h5.font-weight-normal 188,291
									span.mr-2.ml-3.tiny.text-muted POSTS
									span.m-0.h5.font-weight-normal 18,511
									span.mr-2.ml-3.tiny.text-muted.text-nowrap.hidden-sm-down POSTS %
									span.m-0.h5.font-weight-normal.hidden-sm-down 55

				div.row.px-2
					div.col.mt-2.px-1
						div.d-flex.align-items-center.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 14px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto
								div.d-flex.align-items-center
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h6.font-weight-normal 188,291
									span.mr-2.ml-3.tiny.text-muted POSTS
									span.m-0.h6.font-weight-normal 18,511

					div.col.mt-2.px-1
						div.d-flex.align-items-center.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 14px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto
								div.d-flex.align-items-center
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h6.font-weight-normal 188,291
									span.mr-2.ml-3.tiny.text-muted POSTS
									span.m-0.h6.font-weight-normal 18,511

				div.row.px-2
					div.col.mt-2.px-1
						div.d-flex.align-items-center.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 12px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto.line-1
								div.text-right.p-0
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h7 188,291
								div.text-right
									span.mr-2.tiny.text-muted POSTS
									span.m-0.h7 18,511

					div.col.mt-2.px-1
						div.d-flex.align-items-center.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 12px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto.line-1
								div.text-right.p-0
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h7 188,291
								div.text-right
									span.mr-2.tiny.text-muted POSTS
									span.m-0.h7 18,511

					div.col.mt-2.px-1
						div.d-flex.align-items-center.p-2.justify-content-start(style='background: #f3f6f8; height: 3.2em')
							span.px-2.py-1.d-inline-block(style='font-size: 12px; color: #39739d; background: #E1ECF4') C#
							span.ubadge-coin.ubadge-coin-gold.ml-2

							div.ml-auto.line-1
								div.text-right.p-0
									span.mr-2.tiny.text-muted SCORE
									span.m-0.h7 188,291
								div.text-right
									span.mr-2.tiny.text-muted POSTS
									span.m-0.h7 18,511

				a.d-block.text-right.mt-3.small(href='') View network ports →

				br

				div.d-flex.align-items-center.mb-2
					h3.h6.m-0 Top Posts
					nav.ml-auto.nav.nav-pills.hidden-sm-down.small(style='line-height: 1')
						a.nav-item.nav-link.active(href='') All
						a.nav-item.nav-link(href='') Questions
						a.nav-item.nav-link(href='') Auswers
						a.nav-item.nav-link.text-muted.m-0.px-2 |
						a.nav-item.nav-link.active(href='') Votes
						a.nav-item.nav-link(href='') Newest 
				table.table.text-muted.small.w-100
					tr
						td.d-flex.align-items-center
							i.fa.fa-stack-overflow.fa-lg.mr-3
							span.badge.badge-success.align-middle.mr-3(style='font-size: 0.75rem') 1111
							a(href='') Why is subtracting these two times (in 1927) giving a strange result?
							span.ml-auto.hidden-sm-down Jul 27 '11
					tr
						td.d-flex.align-items-center
							i.fa.fa-stack-overflow.fa-lg.mr-3
							span.badge.badge-success.align-middle.mr-3(style='font-size: 0.75rem') 8234
							a(href='') How do I call one constructor from another in Java?
							span.ml-auto.hidden-sm-down Jul 27 '11
					tr
						td.d-flex.align-items-center
							i.fa.fa-stack-overflow.fa-lg.mr-3
							span.badge.badge-success.align-middle.mr-3(style='font-size: 0.75rem') 34
							a(href='') Difference between decimal, float and double in .NET?
							span.ml-auto.hidden-sm-down Jul 27 '11
					tr
						td.d-flex.align-items-center
							i.fa.fa-stack-overflow.fa-lg.mr-3
							span.badge.badge-success.align-middle.mr-3(style='font-size: 0.75rem') 235
							a(href='') What is the difference between a URI, a URL and a URN?
							span.ml-auto.hidden-sm-down Jul 27 '11

				a.d-block.text-right.mt-3.small(href='') View all questions and answers →

				br

				h3.h6 Badges
				hr.mt-3.mb-0
				div.row.border-between
					div.col-sm-4.mt-3
						div.ubadge.ubadge-gold.mb-3.p-2.text-center
							span(style='color: #999') GOLD
							h4.font-weight-normal(style='color: #242729') 523
						
						div.mb-1 Rarest

						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-gold
								|	casting
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-gold
								|	enums
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-gold
								|	arraylist
							span.ml-auto.small Mar 1 '12

					div.col-sm-4.mt-3
						div.ubadge.ubadge-silver.mb-3.p-2.text-center
							span(style='color: #999') SILVER
							h4.font-weight-normal(style='color: #242729') 6,994
						
						div.mb-1 Rarest

						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-silver
								|	casting
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-silver
								|	enums
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-silver
								|	arraylist
							span.ml-auto.small Mar 1 '12

					div.col-sm-4.mt-3
						div.ubadge.ubadge-brozen.mb-3.p-2.text-center
							span(style='color: #999') BROZEN
							h4.font-weight-normal(style='color: #242729') 7,801
						
						div.mb-1 Rarest

						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-brozen
								|	casting
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-brozen
								|	enums
							span.ml-auto.small Mar 1 '12
						div.d-flex.align-items-center.mb-2
							span.ubadge.ubadge-tag.py-1.px-2
								span.ubadge-coin.ubadge-coin-brozen
								|	arraylist
							span.ml-auto.small Mar 1 '12

				a.d-block.text-right.mt-3.small(href='') View all badges →



	link(rel='stylesheet', href='/css/user.css')