extends ../base

include ../mixin/nav

block main
	br

	div.container
		h1.abs.w-100.px-5.pt-1.h4.text-right.hidden-sm-down Jon Skeet
		+nav_user_detail(user, 'activity')

		div.row
			div.col-lg-9
				div.row
					div.col-md-6
						div.ucard.mt-4
							div.row
								div.col
									h3.h6.small.font-weight-normal.text-muted REPUTATION
									div.my-3
										div.h3.m-0.font-weight-normal(style='line-height: 0.5') 345,563
										a.small(href='', style='line-height: 0.8') top 0.01% overall
									h4.h6.small.font-weight-normal.text-muted Next tag badge:
									span.ubadge.ubadge-tag.py-1.px-2.text-center
										span.ubadge-coin.ubadge-coin-silver
										|	httpwebrequest
									hr.hidden-sm-up
								div.col-sm-6.pl-sm-0
									canvas#rep_graph
									script(src='/js/lib/chart.min.js')
									script(src='/js/lib/numeral.min.js')
									script.
										var ctx = document.getElementById('rep_graph').getContext('2d');
										Chart.defaults.global.defaultFontSize = 10;
										var myChart = new Chart(ctx, {
											type: 'line',
											data: {
												datasets: [{
													data: [102945, 193355, 245321, 353724],
													borderColor: '#5fba7d',
													fill: false
												}],
												labels: ['2014', '2015', '2016', '2017']
											},
											options: {
												legend: { display: false },
												scales: {
													yAxes: [{ 
														ticks: {
															suggestedMin: 102945,
															callback: function (value, index, values) {
																return numeral(value).format('0a');
															}
														} 
													}]
												},
												elements: {
													point: { radius: 0 }
												}
											}
										});
									hr.my-2
									span.d-block.small 744/400 score
									div.progress(style='height: 0.3rem')
										div.progress-bar(style='width: 100%; background: #5fba7d')
									span.d-block.small 79/80 answers
									div.progress(style='height: 0.3rem')
										div.progress-bar(style='width: 95%; background: #5fba7d')
					div.col-md-6
						div.ucard.mt-4
							h3.h6.small.font-weight-normal.text-muted BADGES
							div.row.px-2.mt-3
								div.col.px-1
									div.ubadge.ubadge-gold.p-1.text-center
										span.ubadge-coin.ubadge-coin-gold.float-left(style='position: relative; top: 6px')
										|	604
								div.col.px-1
									div.ubadge.ubadge-silver.p-1.text-center
										span.ubadge-coin.ubadge-coin-silver.float-left(style='position: relative; top: 6px')
										|	604
								div.col.px-1
									div.ubadge.ubadge-brozen.p-1.text-center
										span.ubadge-coin.ubadge-coin-brozen.float-left(style='position: relative; top: 6px')
										|	604
							br
							div.row
								div.col
									h4.h6.small.font-weight-normal.text-muted Newest
									span.ubadge.ubadge-block.py-1.px-2.text-center
										span.ubadge-coin.ubadge-coin-silver
										|	Guru
								div.col
									h4.h6.small.font-weight-normal.text-muted Next badge
										span.float-right.hidden-sm-down 24/25
									div.ubadge.ubadge-tag.p-1.text-center
										span.ubadge-coin.ubadge-coin-gold.float-left(style='position: relative; top: 6px')
										|	Electorate
			div.col-lg-3.hidden-md-down
				div.ucard.mt-4
					h3.h6.small.font-weight-normal.text-muted IMPACT

					span.d-flex.align-items-center
						span.d-inline-block.h6.m-0.font-weight-normal ~200.8m
						span.d-inline-block.text-muted.tiny.ml-1 people readched

					hr.my-2

					table.table-sm.small
						tr
							td.text-center.text-muted #[i.fa.fa-pencil.fa-lg]
							td 3,467 posts edited
						tr
							td.text-center.text-muted #[i.fa.fa-flag.fa-lg]
							td 532 helpful flags
						tr
							td.text-center.text-muted #[i.fa.fa-chevron-up.fa-lg]
							td 21,904 votes cast

		br

		nav.nav.nav-tabs.small
			a.nav-item.nav-link.active(href='') summary
			a.nav-item.nav-link.hidden-xs-down(href='') answer
			a.nav-item.nav-link.hidden-xs-down(href='') questions
			a.nav-item.nav-link.hidden-xs-down(href='') tags
			a.nav-item.nav-link.hidden-xs-down(href='') badges
			a.nav-item.nav-link(href='') favorites
			a.nav-item.nav-link(href='') reputation
			a.nav-item.nav-link.hidden-sm-down(href='') all actions

		br

		div.row
			div.col-sm-6

			div.col-sm-6


	link(rel='stylesheet', href='/css/user.css')
