extends ../base

include ../mixin/user

block main
	br

	div.container
		nav.nav.nav-tabs.small
			a.nav-item.nav-link(href='login') Log in
			a.nav-item.nav-link.active(href='signup') Sign up

		br
		h3.h4.font-weight-normal.text-center For the community. By the community.
		br

		div.row.justify-content-md-center
			div.col-md-6
				div.card
					br
					div.card-block.mx-1
						form
							div.form-group
								label Display Name
								input.form-control(type='text', placeholder='Reimu_Hakurei' name='name' value=body.name)
							div.form-group
								label Email (required, but never shown)
								input.form-control(type='email', placeholder='reimuhakurei@gia.com' name='email' value=body.email)
							div.form-group
								label Password
								input.form-control(type='password', placeholder='*********' name='password' value=body.password)
							div.float-left!= recaptcha
							button.btn.btn-primary.float-right(type='submit') Sign up

				br
				div.card.text-center
					div.card-block
						p.mb-0 Already have an account? #[a(href='login') Log in]
						p.mb-0 Forget your password? #[a(href='signup') Recover]
