extends ../layout

include ../mixins

block content
  h1= title

  form(method='POST', action='', encType='multipart/form-data')
    div.form-group
      label(for='artist') Artist ID:
      input#artist.form-control(type='text', placeholder='593005504179372a5c073d15', name='artist', value=body.artist, autocomplete='off')
    
    div.form-group
      label(for='files') Image Files:
      input#files.form-control(type='file', name='files', accept='image/*', multiple)

    button.btn.btn-primary(type='submit') Submit

  if info
    hr
    +alert_info('Finished', info)