extends ../base

block main
	div.container.mt-4
		h2.h5.font-weight-normal Friends
		hr

		div.row
			for user in users
				div.col-md-3.mb-2
					div.media
						if user.avatar && user.avatar.name_local
							img.d-flex.align-self-start.mr-3.shadow-item(src='/upload/images/' + user.name_local, height='64px')
						div.media-body
							a(href=user.url)= user.name
							if user.moderator
								span.ml-1 &diams;
							div.small.text-muted
								div= user.location
								strong.mr-2= format.numeral(user.rep)
								div joined #{format.date(user.date)}