extends ../base

include ../mixin/alert

block main
	div.pt-4.container
		nav.nav.nav-tabs.small
			a.nav-item.nav-link(href='login') Log in
			a.nav-item.nav-link.active(href='signup') Sign up

		h3.my-4.h4.font-weight-normal.text-center For the community. By the community.

		div.row.justify-content-md-center
			div.col-md-6
				div.card
					div.card-block.mx-1.my-4
						form(method='post')
							div.form-group
								label Display Name (anything you want)
								input.form-control(type='text', placeholder='Reimu Hakurei' name='name' value=body.name)
							div.form-group
								label UUID (url friendly name)
								input.form-control(type='text', placeholder='reimu' name='uuid' value=body.uuid)
							div.form-group
								label Email (required, but never shown)
								input.form-control(type='email', placeholder='reimuhakurei@gia.com' name='email' value=body.email)
							div.form-group
								label Password (longer than 9)
								input.form-control(type='password', placeholder='*********' name='password' value=body.password)
							button.btn.btn-primary(type='submit') Sign up

						+error_alerts(true, false)

				div.mt-4.card.text-center
					div.card-block
						p.mb-0 Already have an account? #[a(href='login') Log in]
						p.mb-0 Forget your password? #[strong Contact Kailang!]

block foot
	script.
		$('[name="uuid"]').on('input', function () {
			this.value = this.value.replace(/[^a-z0-9\-]+/, '-');
		});